/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### eclipse ###
.svn/
*.class
target/
/*/.settings/
*.jar
*.war
*.iml
/.idea/
/*/.classpath
/.launch
/.project
/*.launch
/*.tmproj
/ivy*
/eclipse/
/.classpath
/*/.gitignore
/.settings/
/*/.project
/*/bin/